@model IEnumerable<Shop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Каталог</h1>

<div>
    @foreach (var item in Model)
    {
        <div class="items_product">
            <div class="product_image"></div>
            <h6>
                <strong>@item.Name</strong>
                <span>@item.Price.ToString("# руб")</span>
            </h6>

            <form action="/Cart/AddToCart/" method="post">
                <input type="hidden" name="id" value=@item.Id>
                <input type="submit" id="add_to_cart" value="Добавить в корзину @item.Id" />
            </form>     

        </div>
    }

</div>

