@model IEnumerable<Shop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Каталог</h1>

<div>
    @foreach (var item in Model)
    {
    <div class="items_product">
        <div class="product_image"></div>

        @item.Name
        @item.Price

        <button id="addToCart"><a href="@Url.Action("AddToCart","Cart", new { id = item.Id })">купить</a></button>      
              
        @*<button class="add_item"  href="@Url.Action("AddToCart","Cart", item.Id)">+</button>*@
    </div>

    }

</div>

